<div class="wave-divider-footer">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill" style="fill:var(--verde-escuro, #1B4332);"></path>
    </svg>
</div>

<footer class="rodape-principal">
    <div class="rodape-container">
        <div class="rodape-bloco-superior">
            <nav class="rodape-nav">
                <ul>
                    <li><a href="/">Início</a></li>
                    <li><a href="/perguntas">Para Comunidade</a></li>
                    <li><a href="/profissionais">Para Profissionais</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contato">Contato</a></li>
                    <li>
                        <a href="https://site.cfp.org.br/wp-content/uploads/2012/07/codigo_etica.pdf" target="_blank" rel="noopener noreferrer">
                            Código de Ética
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="rodape-social">
                <a href="https://instagram.com/yelopsi" target="_blank" aria-label="Instagram">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/></svg>
                </a>
                
                <a href="https://linkedin.com/company/yelopsi" target="_blank" aria-label="LinkedIn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.225 0z"/></svg>
                </a>

                <a href="https://open.spotify.com/yelopsi" target="_blank" aria-label="Spotify">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.66 0 12 0zm5.521 17.34c-.24.359-.66.48-1.021.24-2.82-1.74-6.36-2.101-10.561-1.141-.418.122-.779-.179-.899-.539-.12-.421.18-.78.54-.9 4.56-1.021 8.52-.6 11.64 1.32.42.18.479.659.301 1.02zm1.44-3.3c-.301.42-.841.6-1.262.3-3.239-1.98-8.159-2.58-11.939-1.38-.479.12-1.02-.12-1.14-.6-.12-.48.12-1.021.6-1.141C9.6 9.9 15 10.561 18.72 12.84c.361.181.54.78.241 1.2zm.12-3.36C15.24 8.4 8.82 8.16 5.16 9.301c-.6.179-1.2-.181-1.38-.721-.18-.601.18-1.2.72-1.381 4.26-1.26 11.28-1.02 15.721 1.621.539.3.719 1.02.419 1.56-.299.421-1.02.599-1.559.3z"/></svg>
                </a>
            </div>
        </div>
        
        <hr class="rodape-divisor">
        
        <div class="rodape-base">
            <div class="rodape-bloco-rt">
                <p><strong>Yelo Saúde Mental</strong></p>
                <p>Responsável Técnico: Anderson Costa | CRP: 06/190861</p>
            </div>
            <div class="rodape-links-legais">
                <a href="/termos">Termos de Uso</a>
                <a href="/privacidade">Privacidade</a>
            </div>
            <div class="rodape-copyright">
                <p>© 2025 Yelo. Todos os direitos reservados.</p>
            </div>
        </div>
    </div>
</footer>

<div id="pwa-install-banner" class="pwa-banner" style="display: none;">
    <button id="pwa-banner-close" class="pwa-banner-close">×</button>
    <div class="pwa-banner-content">
        <img src="/assets/images/apple-touch-icon.png" alt="Ícone Yelo" class="pwa-banner-icon">
        <div>
            <strong>Instale o Yelo no seu iPhone</strong>
            <p>Tenha acesso mais rápido. Toque em 
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="16px" height="16px" style="display: inline-block; vertical-align: middle; margin-top: -2px;">
                    <path d="M 24.181641 0 C 23.496094 0.015625 22.847656 0.234375 22.3125 0.625 L 22.28125 0.65625 C 21.78125 1.03125 21.390625 1.515625 21.125 2.0625 L 21.09375 2.125 C 20.828125 2.671875 20.6875 3.296875 20.6875 3.9375 L 20.6875 28.0625 C 20.6875 28.671875 20.828125 29.28125 21.09375 29.84375 L 21.125 29.875 C 21.390625 30.4375 21.78125 30.9375 22.28125 31.3125 L 22.3125 31.34375 C 22.847656 31.734375 23.496094 31.953125 24.181641 31.96875 L 25.818359 31.96875 C 26.503906 31.953125 27.152344 31.734375 27.6875 31.34375 L 27.71875 31.3125 C 28.21875 30.9375 28.609375 30.4375 28.875 29.875 L 28.90625 29.84375 C 29.171875 29.28125 29.3125 28.671875 29.3125 28.0625 L 29.3125 3.9375 C 29.3125 3.296875 29.171875 2.671875 28.90625 2.125 L 28.875 2.0625 C 28.609375 1.515625 28.21875 1.03125 27.71875 0.65625 L 27.6875 0.625 C 27.152344 0.234375 26.503906 0.015625 25.818359 0 Z M 25 3.03125 L 36 14.03125 L 33.15625 16.875 L 27 10.71875 L 27 38 L 23 38 L 23 10.71875 L 16.84375 16.875 L 14 14.03125 Z M 11 36 L 11 47 L 39 47 L 39 36 L 35 36 L 35 43 L 15 43 L 15 36 Z"/>
                </svg> 
                e "Adicionar à Tela de Início".
            </p>
        </div>
    </div>
</div>

<script src="/config.js"></script>
<script src="/script.js"></script>

<div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
    </div>
</div>
<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
<script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
</script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        fetch('/api/demand/visit', { 
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ page: window.location.pathname })
        }).catch(err => console.log('Analytics offline'));
    });
</script>