<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Acessibilidade Web - Yelo</title>
    <%- include('partials/head') %>
</head>
<body class="pagina-legal">

    <%- include('partials/header') %> 

    <main class="container secao-conteudo-pagina"> 
        <h1>Declaração de Acessibilidade - Yelo</h1>
        <p class="subtitulo-secao">Última revisão: Dezembro 2024</p>

        <h2>Nosso Compromisso</h2>
        <p>A Yelo está comprometida em garantir a acessibilidade digital para pessoas com deficiência. Estamos continuamente melhorando a experiência do usuário para todos e aplicando os padrões de acessibilidade relevantes para tornar nossa plataforma inclusiva.</p>
        
        <h2>Feedback e Contato</h2>
        <p>Seu feedback é importante para nós. Se você encontrar alguma barreira de acessibilidade ou tiver sugestões para melhorar a acessibilidade da plataforma Yelo, por favor, entre em contato:</p>
        <p>E-mail: oi@yelopsi.com.br</p>
    </main>

    <%- include('partials/footer') %>
</body>
</html>