<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Política de Privacidade - Yelo</title> 
    <%- include('partials/head') %>
</head>
<body class="pagina-legal">

    <%- include('partials/header') %> 

    <main class="container secao-conteudo-pagina"> 
        <h1>Política de Privacidade - Yelo</h1>
        <p class="subtitulo-secao">Última atualização: Dezembro 2024</p>

        <h2>1. Introdução</h2>
        <p>A sua privacidade é fundamental para a Yelo...</p>
        
    </main>

    <%- include('partials/footer') %>
</body>
</html>