<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Pré-Cadastro de Profissionais - Yelo</title>
    <%- include('partials/head') %>
    <script src="https://unpkg.com/imask"></script>
</head>

<body class="pagina-questionario">

    <main class="questionario-container">
        <div class="progress-bar">
            <div class="progress-bar-fill"></div>
        </div>

        <div class="slides-container">
            <div class="loader-wrapper" style="text-align:center; padding-top: 50px;">
                <p>Carregando questionário...</p>
            </div>
        </div>
    </main>

    <script src="/config.js"></script>
    <script src="/js/psi_questionario.js"></script> 
</body>
</html>