<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Termos & Condições - Yelo</title>
    <%- include('partials/head') %>
</head>
<body class="pagina-legal">

    <%- include('partials/header') %> 

    <main class="container secao-conteudo-pagina"> 
        <h1>Termos e Condições de Uso - Yelo</h1>
        <p class="subtitulo-secao">Última atualização: <span id="data-atualizacao">Dezembro 2025</span></p>

        <h2>1. Aceitação dos Termos</h2>
        <p>Ao acessar e utilizar a plataforma Yelo ("Plataforma"), você concorda em cumprir estes termos...</p>

        <h2>2. Descrição do Serviço</h2>
        <p>A Yelo é uma plataforma online que visa conectar Pacientes a Psicólogos compatíveis...</p>
        
        <h2>11. Contato</h2>
        <p>Em caso de dúvidas sobre estes Termos, entre em contato conosco através do e-mail: contato@yelo.com.br</p>
    </main>

    <%- include('partials/footer') %>
</body>
</html>